@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

.listItem {
  list-style: none;
  font-family: "VT323";
  color: whitesmoke;
  background-color: #4a4f57;
  border: #c0c2c4 3px solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  margin: 4px;
  cursor: pointer;
}

img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

p {
  margin: 5px;
}

ul {
  margin: 0;
  padding: 0;
}
