@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: "VT323";
  font-size: 2em;
  color: yellow;
}

.arrow {
  width: 200px;
  height: auto;
}
