@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.input {
  height: 30px;
  width: 200px;
  border: solid black 3px;
  font-family: "VT323";
  font-size: 1.5em;
  outline: none;
}

.pokeball {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 100%;
  outline: none;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  width: 60px;
  height: 60px;
}

.pokeball:hover {
  width: 62px;
  height: 62px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
}
